#
#  Synopsis:
#	System unit definition for blobio flowd daemon
#  Usage:
#	# cp $BLOBIO_ROOT/lib/blobio.flowd.service.example 		\
#		/etc/systemd/system/blobio.flowd.service
#  Note:
#	KillMode=mixed seems more stable than =control-group.  Not sure why.
#
[Unit]
Description=BlobIO Flowd Server to sync PostgreSQL
BindsTo=blobio.bio4d.service org.postgresql.service
After=network-online.target blobio.bio4d.service org.postgresql.service

[Service]
Type=simple
User=blobio

WorkingDirectory=/usr/local/blobio

StandardOutput=file:/home/blobio/log/systemd-blobio.flowd.log
StandardError=file:/home/blobio/log/systemd-blobio.flowd.log

ExecStart=/usr/local/blobio/sbin/start-flowd etc/blobio.flow
KillMode=mixed
KillSignal=SIGTERM
TimeoutSec=20
RestartSec=20
Restart=always

[Install]
WantedBy=multi-user.target
