boot
{
	brr_capacity = 16;
	os_exec_capacity = 8;
	os_exec_worker_count = 4;
	flow_worker_count = 8;

	qdr_roll_duration = "24h";
	fdr_roll_duration = "24h";
	xdr_roll_duration = "24h";
	heartbeat_duration = "10s";
}

tail bio4d
{
	path = "spool/bio4d.brr";
}

command hello
{
	path = "./to-tty";
	argv = (
		"hello, world"
	);
}

command bye
{
	path = "./to-tty";
	argv = (
		"good bye, cruel world"
	);
}

sync map seen_udig[string]bool;

Clear seen_udig
  when
  	bio4d.verb == "wrap"
	or
	bio4d.verb == "roll"
;

Delete seen_udig[bio4d.udig]
  when
  	bio4d.verb == "eat"
	and
	(
		bio4d.chat_history == "no"
		or
		bio4d.chat_history == "ok,no"
		or
		bio4d.chat_history == "ok,ok,no"
	)
;

command nope
{
	path = "false";
	exit_status is OK when in {1};
}

command yep
{
	path = "true";
}

call hello()
  when
	seen_udig.LoadOrStore(bio4d.udig, true).loaded == false
;

call nope()
  when
  	hello.exit_status == 0
;

call bye()
  when
  	nope.exit_status == 1
;
