<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>blobio.flowd</string>

  <key>KeepAlive</key>
  <true/>

  <key>RunAtLoad</key>
  <true/>

  <key>ProcessType</key>
  <string>Background</string>

  <key>AbandonProcessGroup</key>
  <false/>

  <key>EnvironmentVariables</key>
  <dict>
  	<key>PATH</key>
	<string>sbin:bin:/usr/local/jmscott/bin:/usr/local/pgsql/bin:/usr/bin:/bin</string>

	<key>BLOBIO_ROOT</key>
	<string>/usr/local/blobio</string>

	<key>BLOBIO_ALGORITHM</key>
	<string>bc160</string>

	<key>BLOBIO_SERVICE</key>
	<string>bio4:localhost:1797</string>

	<key>PGHOST</key>
	<string>/tmp</string>

	<key>PGPORT</key>
	<string>5432</string>

	<key>PGUSER</key>
	<string>postgres</string>

	<key>PGPASSWORD</key>
	<string></string>

	<key>PGDATABASE</key>
	<string>blobio</string>
  </dict>

  <key>ProgramArguments</key>
  <array>
	<string>/usr/local/jmscott/sbin/launchd-log</string>
	<string>sbin/launchd-flowd</string>
	<string>etc/blobio.flow</string>
  </array>

  <key>Disabled</key>
  <false/>

  <key>UserName</key>
  <string>blobio</string>

  <key>GroupName</key>
  <string>staff</string>

  <key>WorkingDirectory</key>
  <string>/usr/local/blobio</string>

  <key>StandardErrorPath</key>
  <string>/Users/blobio/log/launchd-flowd.log</string>

  <key>StandardOutPath</key>
  <string>/Users/blobio/log/launchd-flowd.log</string>

</dict>
</plist>
