#
#  Synopsis:
#	Example configuration file read by make-dist to build tar files.
#  See:
#	https://github.com/jmscott/work/blob/master/make-dist
#  Note:
#	Consider adding "d" suffix to empty dirs like, say, spool/ .
#	Also, any values in, say, SPOOLd would be subdirectores with
#	the same permisions as the top level directory.  For example,
#
#		SPOOLd="
#			wrap
#		"
#	
#	create the dir spool/wrap the via "mkdir -p spool/wrap" command,
#	with the same permisions as the spool/directory.
#
#	Makefile variables can be extracted and defined from the the
#	root.dist file with these recipes.  Example make code follows:
#
#		DIST=product.dist
#
#		COMPILEs := $(shell  (. ./$(DIST) && echo $$COMPILEs))
#		SBINs := $(shell  (. ./$(DIST) && echo $$SBINs))
#		LIBs := $(shell  (. ./$(DIST) && echo $$LIBs))
#		SRCs := $(shell  (. ./$(DIST) && echo $$SRCs))
#		BINs := $(shell  (. ./$(DIST) && echo $$BINs))
#		HTDOCSs := $(shell  (. ./$(DIST) && echo $$HTDOCSs))
#		CGIBINs := $(shell  (. ./$(DIST) && echo $$CGIBINs))
#		LIBEXEC := $(shell  (. ./$(DIST) && echo $$LIBEXECs))
#

VAR2dir_local=(
	[SRCs]='src/stat'
)

#
#  Uncomment for compiled programs to be installed in bin/ or sbin/ and
#  removed in "clean" recipes.
#
COMPILEs="
	merge-stdin-roll2stat_json
	roll2stat_json
"

LIBs="
	merge-bio4d_request_stat.sql
"

#  Uncoment to create bin/ directory
#BINs="
#"

SBINs="
	$COMPILEs
"

#  Uncomment to create tmp/ directory
#TMP="
#"

#  Uncomment to create cgibin/ directory
#CGIBINs="
#"

#  Uncomment to create htdocs/ directory
#HTDOCSs="
#"

#  Uncomment to create src/ directory
SRCs="
	merge-stdin-roll2stat_json.pgc
	roll2stat_json.go
"

#  Uncomment to create attic/ directory
#ATTIC="
#"

#  Uncomment to create archive/ directory
#ARCHIVE="
#"

#  Uncomment to create etc/ directory
#ETC="
#"

#  Uncomment to create spool/ directory
#SPOOL="
#"

#  Uncomment to create data/ directory
#DATA="
#"

#  Uncomment to create run/ directory
#RUN="
#"

#  Uncomment to create log/ directory
#LOG="
#"

#  Uncomment to create cache/ directory
#CACHE="
#"

#  Uncomment to create directory libexec/
#LIBEXECs="
#"

#  Uncomment to create directory include/
#INCLUDEs="
#"

#  Uncomment to create directory sync/
#SYNC="
#"
