#
#  Synopsis:
#	Example bash_login used during code development
#
export BLOBIO_ROOT=$HOME/opt/blobio

PS1='blob@opt> '

cd $BLOBIO_ROOT || exit 1

#  unset environment BLOBIO_* variables, except BLOBIO_ROOT

unset $(env | grep '^BLOBIO_' | grep -v '^BLOBIO_ROOT=' | cut -d= -f1)

. etc/profile
