#
#  Synopsis:
#	Example crontab for BlobIO Admin account
#
BLOBIO_ROOT=/usr/local/blobio

#
#  What:
#	Daily full dump of blobio database.
#  When:
#	11:59pm, every day
#

59 23 * * * $BLOBIO_ROOT/sbin/cron-pg_dump-daily >>log/cron-pg_dump-daily.out 2>&1

#
#  What:
#	Clear log file log/cron-pg_dump-daily.out
#  When:
#	2:38am on 9th day of every month.
#
38 2 9 * * echo "$(date): cleared by cron" >log/cron-pg_dump-daily.out

#
#  What:
#	Save crontab every night into $BLOBIO_ROOT/etc/
#  When:
#	2:52am, every night
#
52 2 * * * crontab -l >$BLOBIO_ROOT/etc/crontab.conf
