#
#  Synopsis:
#	Makefile Template for typical Linux >= 2.18
#  Description:
#	Template for local make environment under Linux >= 2.18
#
#	Examine and possbily edit the following variables:
#
#		DIST_ROOT	Where to install full blobio distribution;
#				  e.g., /usr/local/blobio for production or
#				  $HOME/opt/blobio for development.
#
#		OPENSSL_INC	Where ssl include files live
#		OPENSSL_LIB	Link line for openssl libraries
#
#		GODIST		Where is go distribution installed.
#				  Redefining GOROOT is problematic
#					hence GODIST
#		
#  Usage:
#	cp local-linux.mk.example local.mk
#	vi local.mk
#	make install
#

#  DIST_ROOT points to where to install entire blobio distribution.
#  For example for development set DIST_ROOT to $(HOME)/opt/blobio

DIST_ROOT?=/usr/local/blobio
#DIST_ROOT?=$(HOME)/opt/blobio

#  openssl 1+ installed by standard distro package
OPENSSL_INC?=
OPENSSL_LIB?=-lssl -lcrypto

#  where is go distribution installed.
GODIST?=/usr/local/go
