#
#  Synopsis:
#	Makefile Template for typical Mac OSX >= 10.6
#  Description:
#	Template for local make environment under Mac OSX >= 10.6
#
#	Examine and possbily edit the following variables:
#
#		DIST_ROOT	Where to install full blobio distribution;
#				  e.g., /usr/local/blobio for production or
#				  $HOME/opt/blobio for development.
#				  Only the basename directory (blobio) is
#				  created.
#
#		OPENSSL_INC	Where ssl include files live
#		OPENSSL_LIB	Link line for openssl libraries
#
#		GODIST		Where is go distribution installed.
#					Redefining GOROOT is problematic,
#					hence GODIST
#  Usage:
#	cp local-macosx.mk.example local.mk
#	vi local.mk
#	make install
#  Note:
#	Does openssl have a config program, simlar to postgresql "pg_config"
#	or golang "go environment"?
#

#  Where to install entire blobio distribution.
#  Example is typical dev environment set to $(HOME)/opt/blobio.
#  Production might be DIST_ROOT=/opt/jmscott/jmsdesk/blobio

DIST_ROOT=$(HOME)/opt/blobio

#  openssl install by "port" package manager.
OPENSSL_INC=-I/opt/local/include -DOPENSSL_API_COMPAT=0x10100000L
OPENSSL_LIB=-L/opt/local/lib -lssl -lcrypto

#
#  Note:
#	Replace GODIST with call to "$GOEXE environment"
#
GODIST=/usr/local/go

#  postgresql configuration, for both source built and repo install.
PGCONFIG?=/usr/local/pgsql/bin/pg_config

#  https://github.com/jmscott/work
JMSCOTT_ROOT?=/usr/local/jmscott

#
#  Undefine to build web gui
#
#	$BLOBIO_ROOT/www/vhost/noc.blobio.com
#
#NOC_DNS_VHOST_SUFFIX=blob.io
#NOC_DNS_VHOST_PREFIX=noc
