#
#  Synopsis:
#	Makefile Template for typical Mac OSX >= 10.6
#  Description:
#	Template for local make environment under Mac OSX >= 10.6
#
#	Examine and possbily edit the following variables:
#
#		DIST_ROOT	Where to install full blobio distribution;
#				  e.g., /usr/local/blobio for production or
#				  $HOME/opt/blobio for development.
#				  Only the basename directory (blobio) is
#				  created.
#
#		OPENSSL_INC	Where ssl include files live
#		OPENSSL_LIB	Link line for openssl libraries
#
#		GODIST		Where is go distribution installed.
#					Redefining GOROOT is problematic,
#					hence GODIST
#		
#  Usage:
#	cp local-macosx.mk.example local.mk
#	vi local.mk
#	make install
#  Note:
#	Xcode8 is broken on El Capitan (10.11).  In particular, a reference to
#	clock_gettime() exists, so the complication succeeds, but no underlying
#	library for clock_gettime() exists, so the run time link fails.
#	Never ends.
#

#  Where to install entire blobio distribution.
#  Example is typical dev environment set to $(HOME)/opt/blobio.
#  Production might be DIST_ROOT=/opt/jmscott/jmsdesk/blobio

DIST_ROOT=$(HOME)/opt/blobio

#  openssl install by port package manager.
OPENSSL_INC=-I/opt/local/include
OPENSSL_LIB=-L/opt/local/lib -lssl -lcrypto

#  where golang distribution is installed
GODIST=/usr/local/go
