#
#  Synopsis:
#	Environment for typical blobio user
#  Blame:
#  	jmscott@setspace.com
#  	setspace@gmail.com
#
export BLOBIO_ROOT=${BLOBIO_ROOT:=/usr/local/blobio}

#
#  The script 'biod_ctl' consults $BLOBIO_SERVICE to change the port from the
#  default port of 1797 to a different port. For example, a development server
#  might listen on port 1796.
#
#  $BLOBIO_BIOD_PORT is not used by any client software.
#
#  Note:
#  	The biod_ctl script ought to derive the port from $BLOBIO_SERVICE.
#  	Defining a second variable is stupid.  BLOBIO_BIOD_PORT must die.
#

export BLOBIO_BIOD_PORT=${BLOBIO_BIOD_PORT:=1797}
export BLOBIO_SERVICE=${BLOBIO_SERVICE:=bio4:localhost:$BLOBIO_BIOD_PORT}
export BLOBIO_GET_SERVICE=${BLOBIO_GET_SERVICE:=rofs:$BLOBIO_ROOT}
export BLOBIO_EAT_SERVICE=${BLOBIO_EAT_SERVICE:=rofs:$BLOBIO_ROOT}

#
#  The default digest algorithm to use when new blobs must be generated.
#
export BLOBIO_ALGORITHM=${BLOBIO_ALGORITHM:=sha}

export PGROOT=/usr/local/pgsql
export PGDATA=$PGROOT/data
export PGHOST=/tmp
export PGPORT=5432
export PGUSER=blobio
export PGDATABASE=blobio

PATH=$BLOBIO_ROOT/bin:$BLOBIO_ROOT/sbin:$PGROOT/bin:$PATH

#  Help for development environments where BLOBIO_ROOT=$HOME/opt/blobio.
#  Note: move these to bash_login.example

HISTFILE=$BLOBIO_ROOT/.bash_history
HISTSIZE=50000
export PSQLRC=$BLOBIO_ROOT/etc/psqlrc
