#
#  Synopsis:
#	Bash profile for typical blobio server admin 
#  Usage:
#	Sourced by flowd startup scripts and bash_login.
#  Note:
#	Ought to be named profile-bash.example
#
#	Also ought to document all required variables.
#
export BLOBIO_ROOT=${BLOBIO_ROOT:=/usr/local/blobio}

#
#  The script 'biod_ctl' consults $BLOBIO_SERVICE to change the port from the
#  default port of 1797 to a different port. For example, a development server
#  might listen on port 1796.
#
#  $BLOBIO_BIOD_PORT is not used by any client software.
#
#  Note:
#  	The biod_ctl script ought to derive the port from $BLOBIO_SERVICE.
#  	Defining a second variable is stupid.  BLOBIO_BIOD_PORT must die.
#

export BLOBIO_BIOD_PORT=${BLOBIO_BIOD_PORT:=1797}

export BLOBIO_SERVICE=${BLOBIO_SERVICE:=bio4:localhost:$BLOBIO_BIOD_PORT}

#  write rrd stats to $BLOBIO_ROOT/log/biod-log.log every 60 seconds
#  set to 0 to disable

export BLOBIO_RRD_SAMPLE_DURATION=60

#
#  The default digest algorithm to use when new blobs must be generated.
#
export BLOBIO_ALGORITHM=${BLOBIO_ALGORITHM:=bc160}

#  set postgresql variables

export PGHOME=${PGHOME:=/usr/local/pgsql}
export PGHOST=${PGHOST:=/tmp}
export PGPORT=${PGPORT:=5432}
export PGUSER=${PGUSER:=postgres}
export PGPASSWORD=${PGPASSWORD:=}
export PGDATABASE=${PGDATABASE:=blobio}

#  golang libpq gripes about PGSYSCONFDIR
unset PGSYSCONFDIR

PATH=$BLOBIO_ROOT/bin:$BLOBIO_ROOT/sbin:$PGHOME/bin:$PATH

export TMPDIR=$BLOBIO_ROOT/tmp
if [ ! -e $TMPDIR ];  then
	mkdir -p $TMPDIR/tmp || exit 1
fi

#  ubuntu 4.4 needs this defined
USER=${USER:=$LOGNAME}
