#
#  Synopsis:
#	Bash profile for typical blobio server admin 
#  Usage:
#	Sourced by flowd startup scripts and bash_login.
#  Note:
#	Need to consider environment var PGSERVICE!
#
#	Consider adding syslog support!
#
#	Ought to be named profile-bash.example
#
#	Also ought to document all required variables.
#
export BLOBIO_ROOT=${BLOBIO_ROOT:=/usr/local/blobio}
export BLOBIO_SERVICE=${BLOBIO_SERVICE:=bio4:localhost:1797}
export BLOBIO_ALGORITHM=${BLOBIO_ALGORITHM:=bc160}

#  set postgresql variables for flowd.

export PGHOME=${PGHOME:=/usr/local/pgsql}
export PGHOST=${PGHOST:=/tmp}
export PGPORT=${PGPORT:=5432}
export PGUSER=${PGUSER:=postgres}
export PGPASSWORD=${PGPASSWORD:=}
export PGDATABASE=${PGDATABASE:=blobio}

#  Various interactive blobio scripts require jms tools.
#  However, the daemon bio4d does NOT need any outside executable.

export JMSCOTT_ROOT=${JMSCOTT_ROOT:=/usr/local/jmscott}
PATH=$BLOBIO_ROOT/bin:$BLOBIO_ROOT/sbin:$PGHOME/bin:$PATH:$JMSCOTT_ROOT/bin
