/*
 *  Synopsis:
 *	Search path of typical blobio admin account.
 *  Usage:
 *	cp $BLOBIO_ROOT/lib/psqlrc.example $BLOBIO_ROOT/etc/psqlrc
 *	export PSQLRC=$BLOBIO/etc/psqlrc
 */
\set timing on
set search_path to blobio,public;
