#
# BlobIO Configuration for Typical Development Environment.
#
#  Requires Server includes for *.shtml files.
#
<VirtualHost blobio.jmscott:80>
	ServerAdmin jmscott
	DocumentRoot "/Users/jmscott/dev/vhost/blobio/htdocs"
	ServerAlias blobio.jmscott.tmonk.setspace.com

	SetEnv SERVER_ROOT /Users/jmscott/dev/vhost/blobio
	SetENv PATH /opt/local/bin:/usr/local/bin:/usr/bin:/bin:
	SetEnv PGHOST /tmp
	SetEnv PGPORT 5432
	SetEnv PGUSER jmscott
	SetEnv PGPASSWORD
	SetEnv PGDATABASE jmscott
	SetEnv PERL5LIB /Users/jmscott/dev/vhost/blobio/lib:/usr/local/lib

	ErrorLogFormat "%{c}t: %M"
	ErrorLog "/opt/local/log/blobio.jmscott-error_log"

	CustomLog "/opt/local/log/blobio.jmscott-access_log" common
	ScriptAlias /cgi-bin/ "/Users/jmscott/dev/vhost/blobio/cgi-bin/"

	DirectoryIndex index.shtml index.html
	<Directory "/Users/jmscott/dev/vhost/blobio/htdocs">
		Options +ExecCGI +Includes +FollowSymLinks
		AddType text/html .shtml
		AddOutputFilter INCLUDES .shtml

		Require all granted
	</Directory>

        <Directory "/Users/jmscott/dev/vhost/blobio/cgi-bin">
                AllowOverride None
                Options None +ExecCGI +Includes +FollowSymLinks

                Require all granted
        </Directory>
	
</VirtualHost>
