<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>blobio.sync.remote.flowd</string>

  <!--
  	Note: PathState to /tmp/.s.PGSQL.5432 seems to fail,
	      so just brute force keep alive.
  -->
  <key>KeepAlive</key>
  <true/>

  <key>RunAtLoad</key>
  <true/>

  <key>ProcessType</key>
  <string>Background</string>

  <key>AbandonProcessGroup</key>
  <false/>

  <key>EnvironmentVariables</key>
  <dict>
	<key>BLOBIO_ROOT</key>
	<string>/usr/local/blobio/sync/remote/remote</string>
  </dict>

  <key>ProgramArguments</key>
  <array>
	<string>/usr/local/jmscott/sbin/launchd-log</string>
	<string>sbin/launchd-flowd</string>
	<string>etc/sync-remote.flow</string>
  </array>

  <key>Disabled</key>
  <false/>

  <key>UserName</key>
  <string>blobio</string>

  <key>GroupName</key>
  <string>staff</string>

  <key>WorkingDirectory</key>
  <string>/usr/local/blobio/sync/remote/remote</string>

  <key>StandardErrorPath</key>
  <string>/Users/blobio/log/launchd-sync-remote-flowd.log</string>

  <key>StandardOutPath</key>
  <string>/Users/blobio/log/launchd-sync-remote-flowd.log</string>

</dict>
</plist>
