<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  Synopsis:
	Bidirectional ssh tunneling of bio4d on port 1797 on 127.0.0.[12]
  Usage:
  	$  sudo -i
	#  cd /Library/LaunchDamons
	#  HOST=remote
	#  FQ_HOST=remote.setspace.com
	#  BLOBIO_ROOT=/usr/local/blobio
	#  EXAMPLE=$BLOBIO_ROOT/lib/com.blobio.ssh-tunnel.remote.plist.example
	#
  	#  sed "/<plist/,$s/remote.blobio.com/$FQ_HOST/g" $EXAMPLE	|
	#	sed "<plist/,$s/remote/$HOST/g				>
	#		blobio.sync.flowd.$HOST.plist
	#  launchctl load blobio.sync.flowd.$HOST.plist
	#  launchctl status blobio.sync.flowd.
-->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>blobio.sync.flowd.remote</string>

  <key>KeepAlive</key>
  <true/>

  <key>ProcessType</key>
  <string>Background</string>

  <key>AbandonProcessGroup</key>
  <false/>

  <key>ProgramArguments</key>
  <array>
	<!--	************  BEGIN SSH CONNECTION CONFIG  *****************

		tunnel-remote is an aliases in ~blobio/.ssh/config.
		SSH alias is necessary for keep alive parameters.

		Host tunnel-remote
			Hostname remote.blobio.com

			#  Croak when remote open of socket fails 
			#  launchd will restart.

			ExitOnForwardFailure yes

			#  Number of seconds that client waits before
			#  pinging server.  helps with firewall reapers
			#  of stale sockets.

			ServerAliveInterval 60

			#  Try 4 pings before closing socket and aborting
			ServerAliveCountMax 4

		Note:
			sbin/launchd-log is only needed to timestamp restarts of
			ssh on connection drops.  Better would be for ssh to
			log via syslog, but not sure how to enable such logging
			in ssh without using -v.
	-->
  	<string>sbin/launchd-log</string><!--  only to log ssh restarts -->
	<string>/usr/bin/ssh</string>
	<string>tunnel-remote</string>
	<string>-N</string>
	<string>-T</string>
	<!--	*************  END SSH CONNECTION CONFIG  **************** -->


	<!--	*****************  START BLOBIO BIO4D CONFIG  ***************

		Advertise blobio:1797 to remote and remote:1797 to local.
		We use local ips in 127.0.0.1/24 to differentiate local
		requests from remote requests in brr log files.
		Such differentiation is needed for syncing algorithm.
	-->

	<!--
		Remote 11797 is sent to local blobio protocol on 127.0.0.2:1797
	-->
	<string>-R</string>
	<string>11797:127.0.0.2:1797</string>

	<!--
		Local 127.0.0.1:11797 is sent to remote blobio protocol
		127.0.0.2:1797.
	-->
	<string>-L</string>
	<string>127.0.0.1:11797:127.0.0.2:1797</string>

	<!--
		Remote 10022 is sent to local 127.0.0.2:22
	-->
	<string>-R</string>
	<string>10022:127.0.0.2:22</string>

	<!--	*****************  END BLOBIO CONFIG  *************** -->
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>UserName</key>
  <string>blobio</string>

  <key>GroupName</key>
  <string>staff</string>

  <key>WorkingDirectory</key>
  <string>/usr/local/blobio</string>

  <key>StandardErrorPath</key>
  <string>/Users/blobio/log/launchd-ssh-tunnel-remote.log</string>

  <key>StandardOutPath</key>
  <string>/Users/blobio/log/launchd-ssh-tunnel-remote.log</string>

  <key>Disabled</key>
  <false/>

</dict>
</plist>
