<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.blobio.ssh-tunnel.condor</string>

  <key>KeepAlive</key>
  <true/>

  <key>ProcessType</key>
  <string>Background</string>

  <key>AbandonProcessGroup</key>
  <false/>

  <key>ProgramArguments</key>
  <array>
  	<string>sbin/launchd-log</string>
	<!--	****************  BEGIN SSH CONFIG  *********************
		tunnel-condor is an aliases in ~blobio/.ssh/config:

		Host tunnel-condor
			Hostname condor.setspace.com

			#  Croak when remote open of socket fails 
			#  launchd will restart.

			ExitOnForwardFailure yes

			#  Number of seconds that client waits before
			#  pinging server.  helps with firewall reapers
			#  of stale sockets.

			ServerAliveInterval 60

			#  Try 4 pings before closing socket and aborting
			ServerAliveCountMax 4

	-->
	<string>/usr/bin/ssh</string>
	<string>tunnel-condor</string>

	<!--	*****************  END SSH CONFIG  ******************** -->

	<!--	*****************  START BLOBIO BIOD CONFIG  ***************

		Advertise blobio:1797 to condor.
		We use local ips in 127.0.0.1/24 to differentiate local
		requests from remote requests in brr log files.
		Such differntiation is needed for syncing algorithm.
	-->

	<!--
		Local 127.0.0.2:1797 is advertised on Remote condor:11797
	-->
	<string>-R</string>
	<string>11797:127.0.0.2:1797</string>

	<!--
		Local 127.0.0.2:1797 is advertised on remote 127.0.0.1:11797.
	-->
	<string>-L</string>
	<string>127.0.0.1:11797:127.0.0.2:1797</string>

	<!--	*****************  END BLOBIO CONFIG  *************** -->
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>UserName</key>
  <string>blobio</string>

  <key>GroupName</key>
  <string>staff</string>

  <key>WorkingDirectory</key>
  <string>/usr/local/blobio</string>

  <key>StandardErrorPath</key>
  <string>/Users/blobio/log/launchd-ssh-tunnel-condor.log</string>

  <key>StandardOutPath</key>
  <string>/Users/blobio/log/launchd-ssh-tunnel-condor.log</string>

  <key>Disabled</key>
  <false/>

</dict>
</plist>
