<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.blobio.sync.remote</string>

  <key>KeepAlive</key>
  <dict>
	<!--  Wait for PostgreSQL to start.

	      Note: I (jmscott) could never get OtherJobEnabled to unload
	            flowd when postgresql unloaded.  Not sure why.
	-->
  	<key>PathState</key>
	<dict>
	  <key>/tmp/.s.PGSQL.5432</key>
	  <true/>
	</dict>
	<key>SuccessfulExit</key>
	<false/>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>ProcessType</key>
  <string>Background</string>

  <key>AbandonProcessGroup</key>
  <false/>

  <key>EnvironmentVariables</key>
  <dict>
  	<key>PATH</key>
	<string>/usr/local/blobio/sbin:/usr/local/blobio/bin:/usr/local/pgsql/bin:/usr/local/bin:/usr/bin:/bin</string>

	<key>BLOBIO_ROOT</key>
	<string>/usr/local/blobio/sync/host/remote.setspace.com</string>

	<key>BLOBIO_ALGORITHM</key>
	<string>bc160</string>

	<key>BLOBIO_SERVICE</key>
	<string>bio4:localhost:1797</string>

  </dict>

  <key>ProgramArguments</key>
  <array>
	<string>bin/flowd</string>
	<!-- Note:
		ps-title hack must first argument in order to change what
		appears in the process table.
	-->
	<string>server</string>
	<string>etc/sync-remote.setspace.com.flow</string>
  </array>

  <key>Disabled</key>
  <false/>

  <key>UserName</key>
  <string>blobio</string>

  <key>GroupName</key>
  <string>staff</string>

  <key>WorkingDirectory</key>
  <string>/usr/local/blobio/sync/host/remote.setspace.com</string>

  <key>StandardErrorPath</key>
  <string>/Users/blobio/log/launchd-sync-remote.log</string>

  <key>StandardOutPath</key>
  <string>/Users/blobio/log/launchd-sync-remote.log</string>

</dict>
</plist>
