{
	"debug": false,
	"witness_blob": "bc160:6b2db2774688f2b7580abd4bb4ba8257c85f3eb9",
	"databases": {
		"essback": {
			"PGHOST":	"127.0.0.1",
			"PGPORT":	15433,
			"PGUSER":	"postgres",
			"PGDATABASE":	"blobio"
		},
		"nag": {
			"PGHOST":	"127.0.0.1",
			"PGPORT":	15434,
			"PGUSER":	"postgres",
			"PGDATABASE":	"blobio"
		},
		"wework": {
			"PGHOST":	"127.0.0.1",
			"PGPORT":	15436,
			"PGUSER":	"postgres",
			"PGDATABASE":	"blobio"
		}
	},
	"escape_html":		false,
	"indent_line_prefix":	"",
	"indent_prefix":	"    "
}
