{
	"databases": {
		"nag": {
			"PGHOST":	"127.0.0.1",
			"PGPORT":	15434,
			"PGUSER":	"postgres",
			"PGDATABASE":	"blobio"
		},
		"wework": {
			"PGHOST":	"127.0.0.1",
			"PGPORT":	5432,
			"PGUSER":	"postgres",
			"PGDATABASE":	"blobio"
		}
	},
	"escape_html":		false,
	"indent_line_prefix":	"",
	"indent_prefix":	"    "
}
