#
#  Synopsis:
#	Profile for sync processes, dotted in after $BLOBIO_ROOT/etc/profile.
#  Usage:
#	SYNC_ROOT=$BLOBIO_ROOT/sync/host/condor.setspace.com
#	cp $BLOBIO_ROOT/etc/profile-sync.example $SYNC_ROOT/etc/profile
#  Note:
#	Be wary of relative PATH entries, like
#
#		PATH=bin:sbin:/usr/local/bin:/usr/bin:/bin
#

#  For work directory
export TMPDIR=$BLOBIO_ROOT/sync/host/wework/tmp
