#
#  Synopsis
#	BlobIO variables used by rc.d startup script and biod daemon
#  See Also:
#	blobio.rc.template
#
export BLOBIO_ROOT=${BLOBIO_ROOT:=/usr/local/blobio}

#
#  The script 'biod_ctl' consults $BLOBIO_SERVICE to change the port from the
#  default port of 1797 to a different port. For example, a development server
#  might listen on port 1796.
#
#  $BLOBIO_BIOD_PORT is not used by any client software.
#
#  Note:
#  	The biod_ctl script outght to derive the port from $BLOBIO_SERVICE.
#  	Defining a second variable is stupid.
#
#export BLOBIO_BIOD_PORT=1796

#
#  To enable logging of biod stats then set BLOBIO_RRD_SAMPLE_DURATION > 0sec
#
#export BLOBIO_RRD_SAMPLE_DURATION=0

#
#  To change network timeout in seconds.
#  Default is 20 seconds.
#
#export BLOBIO_NET_TIMEOUT=60
