<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--
  Synopsis:
  	Example of Mac launchd configurations for bio4d daemon.
  Note:
  	Added example substitution of ${BLOBIO_ROOT} variable.
-->
<plist version="1.0">
<dict>
 <key>Label</key>
 <string>blobio.bio4d</string>

 <!--
	All environment vars defined in $BLOBIO_ROOT/etc/profile,
	loaded by script $BLOBIO_ROOT/sbin/launchd-bio4d.
 -->
 <key>EnvironmentVariables</key>
 <dict>
  
  <key>BLOBIO_ROOT</key>
  <string>/opt/blobio</string>

 </dict>

 <key>KeepAlive</key>
 <true/>

 <key>ProcessType</key>
 <string>Background</string>

 <key>AbandonProcessGroup</key>
 <false/>

 <key>ProgramArguments</key>
 <array>
  <string>/usr/local/jmscott/sbin/launchd-log</string>
  <string>/opt/blobio/sbin/launchd-bio4d</string>
 </array>

 <key>RunAtLoad</key>
 <true/>

 <key>UserName</key>
 <string>blobio</string>

 <key>GroupName</key>
 <string>staff</string>

 <key>WorkingDirectory</key>
 <string>/opt/blobio</string>

 <key>StandardErrorPath</key>
 <string>/Users/blobio/log/launchd-jmsdesk-bio4d.log</string>

 <key>StandardOutPath</key>
 <string>/Users/blobio/log/launchd-jmsdesk-bio4d.log</string>
 
 <key>Disabled</key>
 <false/>

</dict>
</plist>
