<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>blobio.bio4d</string>

  <key>KeepAlive</key>
  <true/>

  <key>ProcessType</key>
  <string>Background</string>

  <key>AbandonProcessGroup</key>
  <false/>
  <key>ProgramArguments</key>
  <array>
	<string>/usr/local/jmscott/sbin/launchd-log</string>
	<string>/usr/local/blobio/sbin/launchd-bio4d</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>UserName</key>
  <string>blobio</string>

  <key>GroupName</key>
  <string>staff</string>

  <!--  env var BLOBIO_ROOT is set to $(pwd) by script launchd-bio4d -->

  <key>WorkingDirectory</key>
  <string>/usr/local/blobio</string>

  <key>StandardErrorPath</key>
  <string>/Users/blobio/log/launchd-bio4d.log</string>

  <key>StandardOutPath</key>
  <string>/Users/blobio/log/launchd-bio4d.log</string>

</dict>
</plist>
