#!/usr/bin/env floq server

define tuple blob_request_record as {
	attributes: {
		start_time: {
			#  Note:  need string concatenation!
			matches:
	`\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?(?:Z|[+-]\d{2}:\d{2})`,
			tab_field: 1
		},
		transport: {
			matches: `[a-z][a-z0-9_]{0,7}~[[:graph:]]{1,128}`,
			tab_field: 2
		},
		verb: {
			matches: `get|put|give|take|wrap|roll|eat|cat`,
			tab_field: 3
		},
		blob: {
			matches: `[a-z][a-z0-9]{0,7}:[[:graph:]]{32,128}`,
			tab_field: 4
		},
		chat_history: {
			matches: `ok(,ok){0,2}`,
			tab_field: 5
		},
		byte_count: {
			matches: `\d{1,19}`,
			tab_field: 6
		},
		wall_duration: {
			matches:  `\d{1,10}([.]\d{1,10})?`,
			tab_field: 7
		}
	}
};

define command write_upsert_brr_discover_xdr as {
	path:	"/bin/sh",
	args:	[
			"-c", 
			'echo $0 $1 upsert_brr_discover 
				$2 $3 $4 $5 $6 $7 $8			
			   	| sed \'s/  */	/g\' >>data/blobio.xdr
			'
		]
};

define command write_exists_brr_discover_xdr as {
	path:	"/bin/sh",
	args:	[
			"-c", 
			'echo $0 $1 exists_brr_discover 
				$2 $3 $4 $5 $6 $7 $8			
			   	| sed \'s/  */	/g\' >>data/blobio.xdr
			'
		]
};

define command next_brr.blob_request_record as {
	path:	"/opt/local/libexec/gnubin/tail",
	args:	[ "--lines", "+1", "--follow", "spool/bio4d.brr" ]
};

define command exists_brr_discover as {
	path:	"sbin/exists-brr_discover"
};

define command exists_brr_blob_size as {
	path:	"sbin/exists-brr_blob_size"
};

define command upsert_brr_discover as {
	path:	"sbin/upsert-brr_discover"
};

define command upsert_brr_blob_size as {
	path:	"sbin/upsert-brr_blob_size"
};

define command write_upsert_brr_blob_size_xdr as {
	path:	"/bin/sh",
	args:	[
			"-c", 
			'echo $0 $1 upsert_brr_blob_size 
				$2 $3 $4 $5 $6 $7 $8			
			   	| sed \'s/  */	/g\' >>data/blobio.xdr
			'
		]
};

define command write_exists_brr_blob_size_xdr as {
	path:	"/bin/sh",
	args:	[
			"-c", 
			'echo $0 $1 exists_brr_blob_size 
				$2 $3 $4 $5 $6 $7 $8			
			   	| sed \'s/  */	/g\' >>data/blobio.xdr
			'
		]
};

flow next_brr();

run exists_brr_discover(next_brr.blob)
  when
	(
		next_brr.chat_history == "ok"
		or
		next_brr.chat_history == "ok,ok"
		or
		next_brr.chat_history == "ok,ok,ok"
	)
	and (
		next_brr.verb == "get"
		or
		next_brr.verb == "put"
		or
		next_brr.verb == "give"
		or
		next_brr.verb == "take"
		or
		next_brr.verb == "wrap"
		or
		next_brr.verb == "roll"
	)
;

run write_exists_brr_discover_xdr(
	exists_brr_discover$start_time,
	floq$flow_seq::string,
	exists_brr_discover$exit_code <= 1 ? "OK" : "ERR",
	next_brr.blob,
	exists_brr_discover$exit_code::string,
	exists_brr_discover$wall_duration::string,
	exists_brr_discover$sys_sec::string || "." ||
		exists_brr_discover$sys_usec::string,
	exists_brr_discover$user_sec::string || "." ||
		exists_brr_discover$user_usec::string
  ) when
	#  Note:
	#	is it true that if a command never runs then exit_code is null?
	#
  	exists_brr_discover$exit_code is not null
;

run upsert_brr_discover(next_brr.blob, next_brr.start_time)
  when
  	exists_brr_discover$exit_code == 1
;

run write_upsert_brr_discover_xdr(
	upsert_brr_discover$start_time,
	floq$flow_seq::string,
	upsert_brr_discover$exit_code == 0 ? "OK" : "ERR",
	next_brr.blob,
	upsert_brr_discover$exit_code::string,
	upsert_brr_discover$wall_duration::string,
	upsert_brr_discover$sys_sec::string || "." ||
		upsert_brr_discover$sys_usec::string,
	upsert_brr_discover$user_sec::string || "." ||
		upsert_brr_discover$user_usec::string
  ) when
  	upsert_brr_discover$exit_code is not null
;

run exists_brr_blob_size(next_brr.blob)
  when
	(
		next_brr.chat_history == "ok"
		or
		next_brr.chat_history == "ok,ok"
		or
		next_brr.chat_history == "ok,ok,ok"
	)
	and (
		next_brr.verb == "get"
		or
		next_brr.verb == "put"
		or
		next_brr.verb == "give"
		or
		next_brr.verb == "take"
		
		#  verbs "wrap" and "roll" have size 0!
	)
;

run write_exists_brr_blob_size_xdr(
	exists_brr_blob_size$start_time,
	floq$flow_seq::string,
	exists_brr_blob_size$exit_code <= 1 ? "OK" : "ERR",
	next_brr.blob,
	exists_brr_blob_size$exit_code::string,
	exists_brr_blob_size$wall_duration::string,
	exists_brr_blob_size$sys_sec::string || "." ||
		exists_brr_blob_size$sys_usec::string,
	exists_brr_blob_size$user_sec::string || "." ||
		exists_brr_blob_size$user_usec::string
) when
	exists_brr_blob_size$exit_code is not null
;

run upsert_brr_blob_size(next_brr.blob, next_brr.byte_count)
  when
  	exists_brr_blob_size$exit_code == 1
;

run write_upsert_brr_blob_size_xdr(
	upsert_brr_blob_size$start_time,
	floq$flow_seq::string,
	upsert_brr_blob_size$exit_code == 0 ? "OK" : "ERR",
	next_brr.blob,
	upsert_brr_blob_size$exit_code::string,
	upsert_brr_blob_size$wall_duration::string,
	upsert_brr_blob_size$sys_sec::string || "." ||
		upsert_brr_blob_size$sys_usec::string,
	upsert_brr_blob_size$user_sec::string || "." ||
		upsert_brr_blob_size$user_usec::string
) when
	upsert_brr_blob_size$exit_code is not null
;
