#!/usr/bin/env floq server

define tuple blob_request_record as {
	attributes: {
		start_time: {
			#  Note:  need string concatenation!
			matches:
	`\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?(?:Z|[+-]\d{2}:\d{2})`,
			tab_field: 1
		},
		transport: {
			matches: `[a-z][a-z0-9_]{0,7}~[[:graph:]]{1,128}`,
			tab_field: 2
		},
		verb: {
			matches: `get|put|give|take|wrap|roll|eat|cat`,
			tab_field: 3
		},
		blob: {
			matches: `[a-z][a-z0-9]{0,7}:[[:graph:]]{32,128}`,
			tab_field: 4
		},
		chat_history: {
			matches: `ok(,ok){0,2}`,
			tab_field: 5
		},
		byte_count: {
			matches: `\d{1,19}`,
			tab_field: 6
		},
		wall_duration: {
			matches:  `\d{1,10}([.]\d{1,10})?`,
			tab_field: 7
		}
	}
};

define command append_upsert_xdr as {
	path:	"sbin/append-xdr",
	args:	["data/blobio.xdr"]
};

define command append_upsert_xdr2 as {
	path:	"sbin/append-xdr",
	args:	["data/blobio.xdr"]
};

define command append_exists_brr_discover_xdr as {
	path:	"sbin/append-xdr",
	args:	["data/blobio.xdr"]
};

define command next_brr.blob_request_record as {
	path:	"/opt/local/libexec/gnubin/tail",
	args:	[ "--lines", "+1", "--follow", "spool/bio4d.brr" ]
};

define command exists_brr_discover as {
	path:	"sbin/exists-brr_discover"
};

define command exists_brr_blob_size as {
	path:	"sbin/exists-brr_blob_size"
};

define command upsert_brr_discover as {
	path:	"sbin/upsert-brr_discover"
};

define command upsert_brr_blob_size as {
	path:	"sbin/upsert-brr_blob_size"
};

define command append_upsert_brr_blob_size_xdr as {
	path:	"sbin/append-xdr",
	args:	["data/blobio.xdr"]
};

define command append_exists_brr_blob_size_xdr as {
	path:	"sbin/append-xdr",
	args:	["data/blobio.xdr"]
};

define command log_flow_seq as {
	path:	"sbin/floq-log"
};

define command log_hello as {
	path:	"sbin/floq-log",
	args:	["hello, world"]
};

define command log_ERROR as {
	path:	"sbin/floq-log",
	args:	["ERROR:"]
};

define command log_ERROR2 as {
	path:	"sbin/floq-log",
	args:	["ERROR:"]
};

define command log_ERROR3 as {
	path:	"sbin/floq-log",
	args:	["ERROR:"]
};

define command log_ERROR4 as {
	path:	"sbin/floq-log",
	args:	["ERROR:"]
};

define command log_ERROR5 as {
	path:	"sbin/floq-log",
	args:	["ERROR:"]
};

flow next_brr();

run log_hello()
  when
  	next_brr$flow_seq == 1
;

run exists_brr_discover(next_brr.blob)
  when
	(
		next_brr.chat_history == "ok"
		or
		next_brr.chat_history == "ok,ok"
		or
		next_brr.chat_history == "ok,ok,ok"
	)
	and (
		next_brr.verb == "get"
		or
		next_brr.verb == "put"
		or
		next_brr.verb == "give"
		or
		next_brr.verb == "take"
		or
		next_brr.verb == "wrap"
		or
		next_brr.verb == "roll"
	)
;

run append_exists_brr_discover_xdr(
	exists_brr_discover$start_time,
	next_brr$flow_seq::string,
	"exists_brr_discover",
	exists_brr_discover$pid::string,
	exists_brr_discover$exit_code <= 1 ? "OK" : "ERR",
	next_brr.blob,
	exists_brr_discover$exit_code::string,
	exists_brr_discover$wall_duration::string,
	exists_brr_discover$sys_sec::string || "." ||
		exists_brr_discover$sys_usec::string,
	exists_brr_discover$user_sec::string || "." ||
		exists_brr_discover$user_usec::string
  ) when
  	exists_brr_discover$pid is not null
;

run log_ERROR(
	"append_exists_brr_discover failed: exit status: "		||
		append_exists_brr_discover_xdr$exit_code::string	||
		`: stderr follows ...
`,
	append_exists_brr_discover_xdr$Stderr
  ) when
  	append_exists_brr_discover_xdr$Stderr != ""
;

run upsert_brr_discover(next_brr.blob, next_brr.start_time)
  when
  	exists_brr_discover$exit_code == 1
;

run append_upsert_xdr(
	upsert_brr_discover$start_time,
	next_brr$flow_seq::string,
	"upsert_brr_discover",
	upsert_brr_discover$pid::string,
	upsert_brr_discover$exit_code == 0 ? "OK" : "ERR",
	next_brr.blob,
	upsert_brr_discover$exit_code::string,
	upsert_brr_discover$wall_duration_seconds,
	upsert_brr_discover$user_seconds,
	upsert_brr_discover$sys_seconds
  ) when
  	upsert_brr_discover$exit_code is not null
;

run log_ERROR2(
	"upsert_brr_discover failed: exit status: "		||
		upsert_brr_discover$exit_code::string		||
	`: stderr follows ...
`,
	upsert_brr_discover$Stderr
  ) when
  	upsert_brr_discover$Stderr != ""
;

run exists_brr_blob_size(next_brr.blob)
  when
	(
		next_brr.chat_history == "ok"
		or
		next_brr.chat_history == "ok,ok"
		or
		next_brr.chat_history == "ok,ok,ok"
	)
	and (
		next_brr.verb == "get"
		or
		next_brr.verb == "put"
		or
		next_brr.verb == "give"
		or
		next_brr.verb == "take"
		
		#  verbs "wrap" and "roll" have size 0!
	)
;

run append_exists_brr_blob_size_xdr(
	exists_brr_blob_size$start_time,
	next_brr$flow_seq::string,
	"exists_brr_blob_size",
	exists_brr_blob_size$pid::string,
	exists_brr_blob_size$exit_code <= 1 ? "OK" : "ERR",
	next_brr.blob,
	exists_brr_blob_size$exit_code::string,
	exists_brr_blob_size$wall_duration_seconds,
	exists_brr_blob_size$user_seconds,
	exists_brr_blob_size$sys_seconds
) when
	exists_brr_blob_size$exit_code is not null
;

run log_ERROR3(
	"append_exists_brr_blob_size_xdr failed: exit status: "		||
		append_exists_brr_blob_size_xdr$exit_code::string,
	`: stderr follows ...
`,
	append_exists_brr_blob_size_xdr$Stderr
  ) when
  	append_exists_brr_blob_size_xdr$Stderr != ""
;

run upsert_brr_blob_size(next_brr.blob, next_brr.byte_count)
  when
  	exists_brr_blob_size$exit_code == 1
;

run append_upsert_brr_blob_size_xdr(
	upsert_brr_blob_size$start_time,
	next_brr$flow_seq::string,
	"upsert_brr_blob_size",
	upsert_brr_blob_size$pid::string,
	upsert_brr_blob_size$exit_code == 0 ? "OK" : "ERR",
	next_brr.blob,
	upsert_brr_blob_size$exit_code::string,
	upsert_brr_blob_size$wall_duration_seconds,
	upsert_brr_blob_size$user_seconds,
	upsert_brr_blob_size$sys_seconds
) when
	upsert_brr_blob_size$exit_code is not null
;

run log_ERROR4(
	"append_upsert_brr_blob_size_xdr failed: exit status: "		||
		append_upsert_brr_blob_size_xdr$exit_code::string,
	`: stderr follows ...
`,
	append_upsert_brr_blob_size_xdr$Stderr
  ) when
  	append_upsert_brr_blob_size_xdr$Stderr != ""
;

define command tty_flow_seq as {
	path:	"/bin/dash",
	args:	[
			"-c",
			"echo flow seq: $0 $1 $2 $3>>/dev/tty"
		]
};

run log_flow_seq("flow seq: " || next_brr$flow_seq::string)
  when
  	(next_brr$flow_seq % 100) == 0
;
