#!/usr/bin/env floq server

define tuple blob_request_record as {
	attributes: {
		start_time: {
			#  Note:  need string concatenation!
			matches:
	`\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?(?:Z|[+-]\d{2}:\d{2})`,
			tsv_field: 1
		},
		transport: {
			matches: `[a-z][a-z0-9_]{0,7}~[[:graph:]]{1,128}`,
			tsv_field: 2
		},
		verb: {
			matches: `get|put|give|take|wrap|roll|eat|cat`,
			tsv_field: 3
		},
		blob: {
			matches: `[a-z][a-z0-9]{0,7}:[[:graph:]]{32,128}`,
			tsv_field: 4
		},
		chat_history: {
			matches: `ok(,ok){0,2}`,
			tsv_field: 5
		},
		byte_count: {
			matches: `\d{1,19}`,
			tsv_field: 6
		},
		wall_duration: {
			matches:  `\d{1,10}([.]\d{1,10})?`,
			tsv_field: 7
		}
	}
};

define command next_brr.blob_request_record as {
	path:	"/opt/local/libexec/gnubin/tail",
	args:	[ "--lines", "+1", "--follow", "spool/bio4d.brr" ]
};

define command exists_brr_discover as {
	path:	"sbin/exists-brr_discover"
};

define command exists_brr_blob_size as {
	path:	"sbin/exists-brr_blob_size"
};

define command upsert_brr_discover as {
	path:	"sbin/upsert-brr_discover"
};

define command upsert_brr_blob_size as {
	path:	"sbin/upsert-brr_blob_size"
};

define command write_tty as {
	path:	"/Users/jmscott/src/github.com/jmscott/play/floq/write-tty"
};

flow next_brr();
run write_tty("hi from tty");

run exists_brr_discover(next_brr.blob)
  when
	(
		next_brr.chat_history == "ok"
		or
		next_brr.chat_history == "ok,ok"
		or
		next_brr.chat_history == "ok,ok,ok"
	)
	and (
		next_brr.verb == "get"
		or
		next_brr.verb == "put"
		or
		next_brr.verb == "give"
		or
		next_brr.verb == "take"
		or
		next_brr.verb == "wrap"
		or
		next_brr.verb == "roll"
	)
;

run upsert_brr_discover(next_brr.blob, next_brr.start_time)
  when
  	exists_brr_discover$exit_code == 1
;

run exists_brr_blob_size(next_brr.blob)
  when
	(
		next_brr.chat_history == "ok"
		or
		next_brr.chat_history == "ok,ok"
		or
		next_brr.chat_history == "ok,ok,ok"
	)
	and (
		next_brr.verb == "get"
		or
		next_brr.verb == "put"
		or
		next_brr.verb == "give"
		or
		next_brr.verb == "take"
		or
		next_brr.verb == "wrap"
		or
		next_brr.verb == "roll"
	)
;

run upsert_brr_blob_size(next_brr.blob, next_brr.byte_count)
  when
  	exists_brr_blob_size$exit_code == 1
;
